html,
body {

    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

/* Css style for tradesfactor icon */
.tradesfactor {
    text-decoration: none;
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 24px;
    text-shadow: 2px 2px 0px rgb(171, 171, 171);
    color: #eb5444;
    margin-left: 60px;
    cursor: pointer;
}

/* CSS for the navbar */
.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    background-color: transparent;
    z-index: 100;
}

.navbar a {
    color: rgb(20, 19, 19);
    text-decoration: none;
    margin: 0;
    padding: 15px;
    font-weight: bold;
}

.navbar .menu {
    display: flex;
    align-items: center;
}

/* 
Css style for dropdown in navbar */
.dropdown {
    display: flex;
    align-items: center;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 300px;
    z-index: 1;
    top: 100%;
    right: 15px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 27px;
    padding: 60px;
}

.dropdown-content a {
    color: rgb(97, 92, 92);
    text-decoration: none;
    display: flex;
    align-items: center;
}

.dropdown-icon {
    cursor: pointer;
    margin-left: 5px;
    font-size: 16px;
    font-weight: bold;
}

.expanded .dropdown-content {
    display: block;
}

.dropdown h4 {
    text-decoration: none;
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 24px;
    text-shadow: 2px 2px 0px rgb(171, 171, 171);
    color: #eb5444;

}

.red-div {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(249, 78, 31);
    width: 80%;
    height: auto;
    border-radius: 27px;
    opacity: 60%;
}

.red-div h1 {
    margin-left: 20px;
}

.red-div p {
    color: rgb(254, 253, 253);
    width: 300px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 2%;
}

.red-div {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(249, 78, 31);
    width: 80%;
    height: auto;
    border-radius: 27px;
    opacity: 60%;
    display: flex;
    flex-direction: row;
    /* Keep the flex direction as row to place form on the right */
    justify-content: space-between;
    /* Add this property to create space between the red div and the form container */
}

.red-div h1 {
    margin-left: 20px;
}

.red-div p {
    color: rgb(254, 253, 253);
    width: 300px;
    left: 50%;
    margin-top: 20%;
    text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

form {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 20%;
    margin-right: 20%;

}

.form-group {
    margin-bottom: 10px;
    position: relative;
}

label {
    border: 1px solid transparent;
    display: block;
    padding: 5px;
    transition: border-color 0.2s;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

label:hover {
    border-color: black;
}
form-button{
    text-align: center;
    border-radius: 27px;
    color: #eb5444;

}